# Make sure this is at the top to track the executable
!src/lib/pocketbase/pocketbase

# Node
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# PocketBase data and logs
pb_data/
pb_migrations/
pocketbase
pb.zip

# Database files
*.db
*.db-shm
*.db-wal

# DuckDB
db/

# PocketBase
pocketbase
pb.zip
pb_data/
pb_migrations/ 